nifi_practica_evaluacion_AJ.json
{"flowContents":{"identifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","instanceIdentifier":"04548164-018f-1000-8b5e-1c001b5d6a81","name":"Practica_Antonio","comments":"","position":{"x":128.0,"y":88.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5f605b98-8c51-3127-aacc-42553237b51c","instanceIdentifier":"018f100b-4042-14a7-6043-cb5e07c73af8","name":"Put_Database_Channel_B","comments":"","position":{"x":-16.0,"y":1264.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"f4d5ed79-7eea-364c-91a4-b8c237f8a27f","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"channel_b","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"e5048dec-970e-3bfa-a3a9-16d4c8fe68ed","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"51d6fe42-4a06-39aa-824f-2d7de1a3a650","instanceIdentifier":"70941bdc-1dc1-3331-101a-a5b7ce610e5b","name":"Collect_Data_from_URL","comments":"","position":{"x":-72.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://www.aishub.net/downloads/nmea-sample.zip","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"16ccd5a4-8e7b-310e-af02-93881e443648","instanceIdentifier":"04a74042-018f-1000-cc4f-738dcadde131","name":"Put_Database_Channel_A","comments":"","position":{"x":-520.0,"y":1264.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"f4d5ed79-7eea-364c-91a4-b8c237f8a27f","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"channel_a","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"e5048dec-970e-3bfa-a3a9-16d4c8fe68ed","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"80329679-fab1-3d98-8357-4652d0edf547","instanceIdentifier":"0460ec00-018f-1000-bfa7-790179d7e36c","name":"Save_Backup","comments":"","position":{"x":-744.0,"y":648.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/data/backup","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"1b3a8710-6e86-3069-9b14-9f1f26a166fc","instanceIdentifier":"048ba075-018f-1000-837d-89719d7083e9","name":"RouteOnContent","comments":"","position":{"x":-64.0,"y":976.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Content Buffer Size":"1 MB","Channel_B":",B,","Match Requirement":"content must contain match","Channel_A":",A,","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Channel_B":{"name":"Channel_B","displayName":"Channel_B","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Channel_A":{"name":"Channel_A","displayName":"Channel_A","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"0bfc563e-b22b-366d-8f2f-bfc2b3a6e018","instanceIdentifier":"0261b095-c58e-3ec3-6087-f99d9e2ccb6f","name":"Split_in_Lines","comments":"","position":{"x":-64.0,"y":416.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"10dafd96-accb-34a3-a551-f9289922b262","instanceIdentifier":"018f100d-4042-14a7-839a-db42e1a579ca","name":"Put_Database_Channel_Others","comments":"","position":{"x":496.0,"y":1256.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"f4d5ed79-7eea-364c-91a4-b8c237f8a27f","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"channel_others","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"e5048dec-970e-3bfa-a3a9-16d4c8fe68ed","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"b5ee9186-5eb2-3fb1-a276-0d8a0a73b2dc","instanceIdentifier":"018f101a-4042-14a7-fc16-c0fd1adaaecd","name":"ReplaceText","comments":"","position":{"x":-64.0,"y":704.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"ais_format,sentence_num,message_num,sequence_num,channel,payload,check_sum\n","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Prepend","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"afb8b2c3-298f-3be6-955b-a505cb922071","instanceIdentifier":"4ff6e03b-f7fa-3b4a-491d-52a95c7102f0","name":"Unpack_ZIP_File","comments":"","position":{"x":-72.0,"y":160.0},"type":"org.apache.nifi.processors.standard.UnpackContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Packaging Format":"zip","allow-stored-entries-wdd":"false","File Filter":".*"},"propertyDescriptors":{"Packaging Format":{"name":"Packaging Format","displayName":"Packaging Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"allow-stored-entries-wdd":{"name":"allow-stored-entries-wdd","displayName":"Allow Stored Entries With Data Descriptor","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"3788476d-e6a8-32a2-82d0-962bbd5699ce","instanceIdentifier":"0466ab14-018f-1000-362f-8be730e88e83","name":"UpdateAttribute","comments":"","position":{"x":-744.0,"y":376.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"filename":"${now():format(\"yyyy-MM-dd_HH-mm-ss\")}_${filename}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"fa52efc7-5aa7-392c-b75c-d423929997b3","instanceIdentifier":"045c36ea-018f-1000-29c2-8a29d62569b8","name":"Create_Table","comments":"","position":{"x":-72.0,"y":-368.0},"type":"org.apache.nifi.processors.standard.ExecuteProcess","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Command":"env","Redirect Error Stream":"false","Working Directory":null,"Output MIME type":null,"Argument Delimiter":" ","Batch Duration":null,"Command Arguments":"PGPASSWORD=postgres psql -h db -U postgres -f /data/sql/create_table_ais.sql"},"propertyDescriptors":{"Command":{"name":"Command","displayName":"Command","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redirect Error Stream":{"name":"Redirect Error Stream","displayName":"Redirect Error Stream","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME type":{"name":"Output MIME type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Duration":{"name":"Batch Duration","displayName":"Batch Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"97c40c02-ae61-30d4-bf8a-340e4fd9ed44","instanceIdentifier":"018f1050-4042-14a7-d270-e9336d7862e2","name":"","source":{"id":"5f605b98-8c51-3127-aacc-42553237b51c","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Put_Database_Channel_B","comments":"","instanceIdentifier":"018f100b-4042-14a7-6043-cb5e07c73af8"},"destination":{"id":"33c2348a-c2ce-3862-8948-339fc4fa52c6","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"018f104c-4042-14a7-370d-07793f292997"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"6d1bfdcf-dfad-392b-846d-eebc4506a94d","instanceIdentifier":"018f1040-4042-14a7-7654-ed526502ce92","name":"","source":{"id":"1b3a8710-6e86-3069-9b14-9f1f26a166fc","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"RouteOnContent","comments":"","instanceIdentifier":"048ba075-018f-1000-837d-89719d7083e9"},"destination":{"id":"5f605b98-8c51-3127-aacc-42553237b51c","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Put_Database_Channel_B","comments":"","instanceIdentifier":"018f100b-4042-14a7-6043-cb5e07c73af8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Channel_B"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"e249ddaa-6090-384b-9b4a-dfd25a8a623a","instanceIdentifier":"046383c3-018f-1000-fb3a-ffc5acfe08e9","name":"","source":{"id":"80329679-fab1-3d98-8357-4652d0edf547","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Save_Backup","comments":"","instanceIdentifier":"0460ec00-018f-1000-bfa7-790179d7e36c"},"destination":{"id":"b5882233-64ef-343f-a2e0-6440ef432711","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"04637699-018f-1000-f6ba-5040148a5b6c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"b7e3eaf7-6b78-3704-91b0-dad1dadc101a","instanceIdentifier":"04883e2b-018f-1000-6f59-ab22b7780579","name":"","source":{"id":"fa52efc7-5aa7-392c-b75c-d423929997b3","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Create_Table","comments":"","instanceIdentifier":"045c36ea-018f-1000-29c2-8a29d62569b8"},"destination":{"id":"51d6fe42-4a06-39aa-824f-2d7de1a3a650","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Collect_Data_from_URL","comments":"","instanceIdentifier":"70941bdc-1dc1-3331-101a-a5b7ce610e5b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"d077bb4f-ca81-30d8-a9ab-224e3c050192","instanceIdentifier":"0480dd51-018f-1000-4fdc-23d222468332","name":"","source":{"id":"afb8b2c3-298f-3be6-955b-a505cb922071","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Unpack_ZIP_File","comments":"","instanceIdentifier":"4ff6e03b-f7fa-3b4a-491d-52a95c7102f0"},"destination":{"id":"3788476d-e6a8-32a2-82d0-962bbd5699ce","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"UpdateAttribute","comments":"","instanceIdentifier":"0466ab14-018f-1000-362f-8be730e88e83"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"4a0f3383-94e1-398d-8e29-1249ff3289d1","instanceIdentifier":"018f1041-4042-14a7-39b7-8bef99d8ec01","name":"","source":{"id":"1b3a8710-6e86-3069-9b14-9f1f26a166fc","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"RouteOnContent","comments":"","instanceIdentifier":"048ba075-018f-1000-837d-89719d7083e9"},"destination":{"id":"10dafd96-accb-34a3-a551-f9289922b262","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Put_Database_Channel_Others","comments":"","instanceIdentifier":"018f100d-4042-14a7-839a-db42e1a579ca"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"5f19f4f8-db9f-3ad9-a306-936bce04add3","instanceIdentifier":"0466ecd2-018f-1000-f25d-d78affae42b3","name":"","source":{"id":"3788476d-e6a8-32a2-82d0-962bbd5699ce","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"UpdateAttribute","comments":"","instanceIdentifier":"0466ab14-018f-1000-362f-8be730e88e83"},"destination":{"id":"80329679-fab1-3d98-8357-4652d0edf547","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Save_Backup","comments":"","instanceIdentifier":"0460ec00-018f-1000-bfa7-790179d7e36c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"6de8af0b-30fa-3b88-ae5b-b724cf26c836","instanceIdentifier":"018f103f-4042-14a7-93e6-721736cf26b8","name":"","source":{"id":"1b3a8710-6e86-3069-9b14-9f1f26a166fc","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"RouteOnContent","comments":"","instanceIdentifier":"048ba075-018f-1000-837d-89719d7083e9"},"destination":{"id":"16ccd5a4-8e7b-310e-af02-93881e443648","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Put_Database_Channel_A","comments":"","instanceIdentifier":"04a74042-018f-1000-cc4f-738dcadde131"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Channel_A"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"3124bb14-7688-3bba-9a86-17e9bca3ee38","instanceIdentifier":"018f104f-4042-14a7-80a7-b20adf5c964f","name":"","source":{"id":"10dafd96-accb-34a3-a551-f9289922b262","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Put_Database_Channel_Others","comments":"","instanceIdentifier":"018f100d-4042-14a7-839a-db42e1a579ca"},"destination":{"id":"58eeb226-5327-3efd-a903-2df08287f898","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"018f104d-4042-14a7-36b3-63ca6b8efbac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"fe4e6c78-4472-38ab-b6e9-aef58ad71638","instanceIdentifier":"018f1046-4042-14a7-0ada-8fe4334ec100","name":"","source":{"id":"5f605b98-8c51-3127-aacc-42553237b51c","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Put_Database_Channel_B","comments":"","instanceIdentifier":"018f100b-4042-14a7-6043-cb5e07c73af8"},"destination":{"id":"adff40d8-23a6-3fd4-89b2-314d01555d5b","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"cfc9b625-faec-359c-d655-6831c9d015ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"792cf6ed-db80-347c-b7a4-2d0b0952a128","instanceIdentifier":"8632c528-1ac9-30ba-4df8-82571daa11fb","name":"","source":{"id":"0bfc563e-b22b-366d-8f2f-bfc2b3a6e018","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Split_in_Lines","comments":"","instanceIdentifier":"0261b095-c58e-3ec3-6087-f99d9e2ccb6f"},"destination":{"id":"6f0c1a89-f555-3949-8a5a-38713ce105fc","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"18f593a8-dcf8-38d3-fc7b-ebb7977c878b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"0f421274-3bb1-3b38-ac76-6c9ebce33516","instanceIdentifier":"35a15163-fcd5-3ae4-08cf-00551504a7e4","name":"","source":{"id":"51d6fe42-4a06-39aa-824f-2d7de1a3a650","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Collect_Data_from_URL","comments":"","instanceIdentifier":"70941bdc-1dc1-3331-101a-a5b7ce610e5b"},"destination":{"id":"6f0c1a89-f555-3949-8a5a-38713ce105fc","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"18f593a8-dcf8-38d3-fc7b-ebb7977c878b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"f6f94ff5-af59-3634-81fb-f37aa6c0e603","instanceIdentifier":"018f1052-4042-14a7-30f9-e030bd3cf925","name":"","source":{"id":"16ccd5a4-8e7b-310e-af02-93881e443648","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Put_Database_Channel_A","comments":"","instanceIdentifier":"04a74042-018f-1000-cc4f-738dcadde131"},"destination":{"id":"f3ae7866-5061-3660-9a3d-fc1e364559b5","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"018f1051-4042-14a7-6c61-376abb40eb3f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"dd14f322-d9d9-3b15-8edd-849be99a19ef","instanceIdentifier":"018f1043-4042-14a7-dc84-9550d2854120","name":"","source":{"id":"b5ee9186-5eb2-3fb1-a276-0d8a0a73b2dc","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"ReplaceText","comments":"","instanceIdentifier":"018f101a-4042-14a7-fc16-c0fd1adaaecd"},"destination":{"id":"6f0c1a89-f555-3949-8a5a-38713ce105fc","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"18f593a8-dcf8-38d3-fc7b-ebb7977c878b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"9de718b5-1330-3317-a562-9f802193bbd5","instanceIdentifier":"9efc391c-68d0-3a49-1f32-049951fd45ad","name":"","source":{"id":"51d6fe42-4a06-39aa-824f-2d7de1a3a650","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Collect_Data_from_URL","comments":"","instanceIdentifier":"70941bdc-1dc1-3331-101a-a5b7ce610e5b"},"destination":{"id":"afb8b2c3-298f-3be6-955b-a505cb922071","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Unpack_ZIP_File","comments":"","instanceIdentifier":"4ff6e03b-f7fa-3b4a-491d-52a95c7102f0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"069615e0-bae9-33f5-8e6d-9506780a77b2","instanceIdentifier":"04634aea-018f-1000-0314-da8884101636","name":"","source":{"id":"80329679-fab1-3d98-8357-4652d0edf547","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Save_Backup","comments":"","instanceIdentifier":"0460ec00-018f-1000-bfa7-790179d7e36c"},"destination":{"id":"6f85309b-8d4b-3f87-ae03-d177787c62cf","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"04633c13-018f-1000-e044-c320106ccf79"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"0fc5d6ff-4474-3657-b9a5-2a8243ad6120","instanceIdentifier":"d5ac5b9f-7a64-3854-4ba4-51b7b4775eec","name":"","source":{"id":"afb8b2c3-298f-3be6-955b-a505cb922071","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Unpack_ZIP_File","comments":"","instanceIdentifier":"4ff6e03b-f7fa-3b4a-491d-52a95c7102f0"},"destination":{"id":"6f0c1a89-f555-3949-8a5a-38713ce105fc","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"18f593a8-dcf8-38d3-fc7b-ebb7977c878b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"2fbde3e0-24be-3c00-a7a8-eb0c2f001720","instanceIdentifier":"018f1045-4042-14a7-1701-d72d2a0144fb","name":"","source":{"id":"16ccd5a4-8e7b-310e-af02-93881e443648","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Put_Database_Channel_A","comments":"","instanceIdentifier":"04a74042-018f-1000-cc4f-738dcadde131"},"destination":{"id":"2711263a-4174-33f9-9ebc-412be6477ea5","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"018f104b-4042-14a7-87e0-05ed56e02eb9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"474d10e8-fe80-33f7-a7c2-824358e3e8e1","instanceIdentifier":"018f104a-4042-14a7-b017-8c7d513342ad","name":"","source":{"id":"10dafd96-accb-34a3-a551-f9289922b262","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Put_Database_Channel_Others","comments":"","instanceIdentifier":"018f100d-4042-14a7-839a-db42e1a579ca"},"destination":{"id":"7c0c9c3c-d531-3676-a29d-c884c02a78f6","type":"FUNNEL","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Funnel","comments":"","instanceIdentifier":"018f102b-4042-14a7-b3e9-a7a64aaaf9e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"9137be93-5a77-31b0-ae67-1c65fc7cdfe1","instanceIdentifier":"048c0f74-018f-1000-3084-16834059c517","name":"","source":{"id":"0bfc563e-b22b-366d-8f2f-bfc2b3a6e018","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Split_in_Lines","comments":"","instanceIdentifier":"0261b095-c58e-3ec3-6087-f99d9e2ccb6f"},"destination":{"id":"b5ee9186-5eb2-3fb1-a276-0d8a0a73b2dc","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"ReplaceText","comments":"","instanceIdentifier":"018f101a-4042-14a7-fc16-c0fd1adaaecd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":200000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"0d657c90-1566-3228-a8ec-47d8b6d3ebde","instanceIdentifier":"018f103d-4042-14a7-a837-418aa40acf2c","name":"","source":{"id":"b5ee9186-5eb2-3fb1-a276-0d8a0a73b2dc","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"ReplaceText","comments":"","instanceIdentifier":"018f101a-4042-14a7-fc16-c0fd1adaaecd"},"destination":{"id":"1b3a8710-6e86-3069-9b14-9f1f26a166fc","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"RouteOnContent","comments":"","instanceIdentifier":"048ba075-018f-1000-837d-89719d7083e9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":200000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"0025ba10-102a-38d1-9183-77335445fab2","instanceIdentifier":"8171e4d1-da68-39d4-dcc1-e110b43c067f","name":"","source":{"id":"afb8b2c3-298f-3be6-955b-a505cb922071","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Unpack_ZIP_File","comments":"","instanceIdentifier":"4ff6e03b-f7fa-3b4a-491d-52a95c7102f0"},"destination":{"id":"0bfc563e-b22b-366d-8f2f-bfc2b3a6e018","type":"PROCESSOR","groupId":"7f338928-500b-3b03-b84a-59ca0e6f4ddf","name":"Split_in_Lines","comments":"","instanceIdentifier":"0261b095-c58e-3ec3-6087-f99d9e2ccb6f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"}],"labels":[],"funnels":[{"identifier":"2711263a-4174-33f9-9ebc-412be6477ea5","instanceIdentifier":"018f104b-4042-14a7-87e0-05ed56e02eb9","position":{"x":-680.0,"y":1592.0},"componentType":"FUNNEL","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"7c0c9c3c-d531-3676-a29d-c884c02a78f6","instanceIdentifier":"018f102b-4042-14a7-b3e9-a7a64aaaf9e5","position":{"x":920.0,"y":1568.0},"componentType":"FUNNEL","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"adff40d8-23a6-3fd4-89b2-314d01555d5b","instanceIdentifier":"cfc9b625-faec-359c-d655-6831c9d015ee","position":{"x":-72.0,"y":1584.0},"componentType":"FUNNEL","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"f3ae7866-5061-3660-9a3d-fc1e364559b5","instanceIdentifier":"018f1051-4042-14a7-6c61-376abb40eb3f","position":{"x":-200.0,"y":1592.0},"componentType":"FUNNEL","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"6f0c1a89-f555-3949-8a5a-38713ce105fc","instanceIdentifier":"18f593a8-dcf8-38d3-fc7b-ebb7977c878b","position":{"x":728.0,"y":360.0},"componentType":"FUNNEL","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"b5882233-64ef-343f-a2e0-6440ef432711","instanceIdentifier":"04637699-018f-1000-f6ba-5040148a5b6c","position":{"x":-216.0,"y":904.0},"componentType":"FUNNEL","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"58eeb226-5327-3efd-a903-2df08287f898","instanceIdentifier":"018f104d-4042-14a7-36b3-63ca6b8efbac","position":{"x":488.0,"y":1576.0},"componentType":"FUNNEL","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"33c2348a-c2ce-3862-8948-339fc4fa52c6","instanceIdentifier":"018f104c-4042-14a7-370d-07793f292997","position":{"x":360.0,"y":1584.0},"componentType":"FUNNEL","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"6f85309b-8d4b-3f87-ae03-d177787c62cf","instanceIdentifier":"04633c13-018f-1000-e044-c320106ccf79","position":{"x":-592.0,"y":912.0},"componentType":"FUNNEL","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"}],"controllerServices":[{"identifier":"e5048dec-970e-3bfa-a3a9-16d4c8fe68ed","instanceIdentifier":"792e1fee-3a16-3cfc-b81b-6da19e1db443","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"},{"identifier":"f4d5ed79-7eea-364c-91a4-b8c237f8a27f","instanceIdentifier":"cd79eb93-bd75-3783-1d0f-df635d565170","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://db:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/postgresql-42.7.2.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7f338928-500b-3b03-b84a-59ca0e6f4ddf"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}